## Task 1 - Quantium

In [1]:
import pandas as pd
import numpy as np

## Inspect and clean `purchase_behaviour` data2set

In [2]:
data1 = pd.read_csv('data/purchase_behaviour.csv')

In [3]:
data1.head()

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

## Rename and lowercase the column names

In [4]:
data1.columns = ['loyalty_card_num', 'lifestage', 'premium_customer']

In [5]:
data1.lifestage = data1.lifestage.str.lower()

In [6]:
data1.lifestage = data1.lifestage.str.replace('/' , ' / ')

In [7]:
data1.premium_customer = data1.premium_customer.str.lower()

## Check nulls and unique values

In [8]:
data1.lifestage.unique()

array(['young singles / couples', 'young families',
       'older singles / couples', 'midage singles / couples',
       'new families', 'older families', 'retirees'], dtype=object)

In [9]:
data1.lifestage.unique()

array(['young singles / couples', 'young families',
       'older singles / couples', 'midage singles / couples',
       'new families', 'older families', 'retirees'], dtype=object)

In [10]:
data1.premium_customer.unique()

array(['premium', 'mainstream', 'budget'], dtype=object)

In [11]:
data1.isnull().sum()

loyalty_card_num    0
lifestage           0
premium_customer    0
dtype: int64

## Check dtypes

In [12]:
data1.dtypes

loyalty_card_num     int64
lifestage           object
premium_customer    object
dtype: object

## Take a sample and check the dataset values

In [13]:
data1.sample(15)

       loyalty_card_num                lifestage premium_customer
71560            268464           older families           budget
49940            186423  young singles / couples          premium
24462             88373  older singles / couples       mainstream
24826             90035                 retirees          premium
8770              32175           young families          premium
31376            115349  young singles / couples          premium
45071            169183                 retirees           budget
12257             46059           young families       mainstream
29179            107101           young families       mainstream
25080             90409  older singles / couples           budget
15499             57115  young singles / couples          premium
23229             83220                 retirees       mainstream
26556             96230           young families           budget
48015            180035           older families          premium
42777            162003  older singles / couples       mainstream

## It looks clean. Save it to a csv file

In [14]:
data1.to_csv('data/purchase_behaviour_clean.csv', index=False)

## Import transaction data

### Warning: import process may take some time, depending on the power of the computer. It took me about 20 seconds. It's a large file.

In [72]:
data2 = pd.read_excel('data/transaction_data.xlsx')

In [73]:
data2.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

## Rename column names and lowercase

In [74]:
data2.columns = [i.lower() for i in data2.columns]
data2 = data2.rename(columns = {'store_nbr' : 'store_num', 'lylty_card_nbr' : 'loyalty_card_num', 'prod_name' : 'product_name' , 'prod_nbr' : 'product_number', 'prod_qty' : 'product_quantity', 'tot_sales' : 'total_sales'})

In [75]:
data2.sample(10)

,date,store_num,loyalty_card_num,txn_id,product_number,product_name,product_quantity,total_sales
41227,43409,101,101145,100869,28,Thins Potato Chips Hot & Spicy 175g,2,6.6
215072,43495,230,230012,231965,111,Smiths Chip Thinly Cut Original 175g,2,6.0
252550,43471,190,190083,190731,62,Pringles Mystery Flavour 134g,2,7.4
203854,43571,270,270173,267779,20,Doritos Cheese Supreme 330g,2,11.4
125588,43480,116,116238,120599,75,Cobs Popd Sea Salt Chips 110g,2,7.6
168919,43636,231,231255,234730,47,Doritos Corn Chips Original 170g,2,8.8
136811,43470,20,20392,17385,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.7
217910,43520,19,19184,16416,36,Kettle Chilli 175g,2,10.8
227153,43450,231,231295,234862,78,Thins Chips Salt & Vinegar 175g,2,6.6
34965,43451,32,32002,27994,56,Cheezels Cheese Box 125g,2,4.2

## Check dtypes and missing values

In [76]:
data2.dtypes

date                  int64
store_num             int64
loyalty_card_num      int64
txn_id                int64
product_number        int64
product_name         object
product_quantity      int64
total_sales         float64
dtype: object

`date` should have been imported in date format. I will go up and fix the import statement.  
Back from import statement, the values in the `date` column are integers. They are in the format of times passed since 30th December 1899. I use the proper parameter in `pd.to_datetime()`

In [77]:
data2.date = pd.to_datetime(data2['date'], unit='d', origin='1899-12-30')

In [78]:
data2.dtypes

date                datetime64[ns]
store_num                    int64
loyalty_card_num             int64
txn_id                       int64
product_number               int64
product_name                object
product_quantity             int64
total_sales                float64
dtype: object

Now the dtypes look right. Move on to missing values study

In [79]:
data2.isnull().sum()

date                0
store_num           0
loyalty_card_num    0
txn_id              0
product_number      0
product_name        0
product_quantity    0
total_sales         0
dtype: int64

In [80]:
data2.sample(15)

,date,store_num,loyalty_card_num,txn_id,product_number,product_name,product_quantity,total_sales
179813,2019-06-14,165,165015,165460,34,Pringles Slt Vingar 134g,2,7.4
144690,2019-04-26,166,166314,168514,30,Doritos Corn Chips Cheese Supreme 170g,2,8.8
192897,2018-10-24,107,107012,108405,27,WW Supreme Cheese Corn Chips 200g,2,3.8
14500,2019-04-19,215,215000,214161,93,Doritos Corn Chip Southern Chicken 150g,2,7.8
222016,2018-08-30,112,112157,114713,64,Red Rock Deli SR Salsa & Mzzrlla 150g,2,5.4
168526,2018-07-15,227,227241,229713,47,Doritos Corn Chips Original 170g,2,8.8
176092,2019-02-19,81,81015,79803,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8
83645,2018-07-27,39,39119,35334,76,Woolworths Medium Salsa 300g,2,3.0
227146,2019-04-16,231,231213,234572,9,Kettle Tortilla ChpsBtroot&Ricotta 150g,2,9.2
176508,2018-10-14,88,88275,87591,52,Grain Waves Sour Cream&Chives 210G,2,7.2
45078,2019-06-29,144,144149,144707,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,2,9.2
48833,2019-05-28,186,186210,188603,13,Red Rock Deli Thai Chilli&Lime 150g,1,2.7
76344,2019-01-09,160,160121,160882,91,CCs Tasty Cheese 175g,2,4.2
135365,2019-05-18,111,111001,113143,69,Smiths Chip Thinly S/Cream&Onion 175g,4,12.0
118046,2019-06-25,1,1139,160,112,Tyrrells Crisps Ched & Chives 165g,1,4.2

## Create `product_price` column

In [81]:
data2['product_price'] = data2.total_sales / data2.product_quantity

In [82]:
product_columns = [i for i in data2 if 'product' in i]
data2[product_columns].sample(5)

,product_number,product_name,product_quantity,product_price
112761,109,Pringles Barbeque 134g,2,3.7
138765,63,Kettle 135g Swt Pot Sea Salt,2,4.2
96181,62,Pringles Mystery Flavour 134g,2,3.7
177970,75,Cobs Popd Sea Salt Chips 110g,2,3.8
151632,94,Burger Rings 220g,2,2.3

## Extract weight values from `product_name`

In [83]:
data2.product_name

0           Natural Chip        Compny SeaSalt175g
1                         CCs Nacho Cheese    175g
2           Smiths Crinkle Cut  Chips Chicken 170g
3           Smiths Chip Thinly  S/Cream&Onion 175g
4         Kettle Tortilla ChpsHny&Jlpno Chili 150g
                            ...
264831     Kettle Sweet Chilli And Sour Cream 175g
264832               Tostitos Splash Of  Lime 175g
264833                    Doritos Mexicana    170g
264834     Doritos Corn Chip Mexican Jalapeno 150g
264835               Tostitos Splash Of  Lime 175g
Name: product_name, Length: 264836, dtype: object

In [84]:
names = data2.product_name.copy(deep=True)

### Create a `product_weight` with the weight of the product

Check if all the weight values are only three figures values

In [85]:
weights = names.apply(lambda x : x[-4:])

Some weights could be invalid

In [86]:
weights.apply(lambda x : x[0].isnumeric() ).all()

False

In [87]:
invalid_weights = weights[ ~ weights.apply(lambda x : x[0].isnumeric() ) ]

In [88]:
invalid_weights.unique()

array(['Salt', ' 90g', ' 70g'], dtype=object)

Some products are lighter than 100 grams and others have no weight value at the end of the name.

In [89]:
names[names.str.endswith('Salt')]

65        Kettle 135g Swt Pot Sea Salt
153       Kettle 135g Swt Pot Sea Salt
174       Kettle 135g Swt Pot Sea Salt
177       Kettle 135g Swt Pot Sea Salt
348       Kettle 135g Swt Pot Sea Salt
                      ...
264564    Kettle 135g Swt Pot Sea Salt
264574    Kettle 135g Swt Pot Sea Salt
264725    Kettle 135g Swt Pot Sea Salt
264767    Kettle 135g Swt Pot Sea Salt
264823    Kettle 135g Swt Pot Sea Salt
Name: product_name, Length: 3257, dtype: object

Those products have the weight information in the middle of the name.

In [90]:
names[names.str.endswith('Salt')].unique()

array(['Kettle 135g Swt Pot Sea Salt'], dtype=object)

Create a function to extract the weight info from the product name

In [91]:
def extract_weight(name):
    # three digits weight
    if name[-4].isnumeric():
        return float(name[-4:-1])
    # two digits weight
    elif name[-4] ==' ':
        return float(name[-3:-1])
    elif name == 'Kettle 135g Swt Pot Sea Salt' :
        return 135
    # by now, any other format of name will return NaN
    else :
        return np.nan

In [92]:
product_weight = names.apply(extract_weight)

In [93]:
product_weight.isnull().sum()

0

In [94]:
product_weight.unique()

array([175., 170., 150., 300., 330., 210., 270., 220., 125., 110., 134.,
       380., 180., 165., 135., 250., 200., 160., 190.,  90.,  70.])

In [95]:
print(f'Size of the product name column: {names.shape[0]} vs total processed values {product_weight.notnull().sum()}.')
print(f'There is a difference of {names.shape[0] - product_weight.notnull().sum()}')

Size of the product name column: 264836 vs total processed values 264836.
There is a difference of 0

After having applied the `extract_weight` function, it seems all the weight values have been extracted.  
Now i will apply the a slightly modified version of the function to remove the weight info from the name and store it a new column named `product_weight`.

In [96]:
def extract_weight_from_name(name):
    # three digits weight
    if name[-4].isnumeric():
        clean_name = name[:-4]
        weight = float(name[-4:-1])
    # two digits weight
    elif name[-4] ==' ':
        clean_name = name[:-3]
        weight = float(name[-3:-1])
    elif name == 'Kettle 135g Swt Pot Sea Salt' :
        clean_name = name.replace('135g ', '')
        weight = 135
    # by now, any other format of name will return NaN
    else :
        clean_name = name
        weight = np.nan
    return clean_name, weight

In [97]:
clean_names = names.apply(extract_weight_from_name).apply(lambda x: x[0].strip())

In [98]:
clean_names.isnull().sum()

0

In [99]:
weights = names.apply(extract_weight_from_name).apply(lambda x: x[1])

In [100]:
pd.DataFrame({'name': clean_names, 'weight' : weights})

                                       name  weight
0        Natural Chip        Compny SeaSalt   175.0
1                          CCs Nacho Cheese   175.0
2         Smiths Crinkle Cut  Chips Chicken   170.0
3         Smiths Chip Thinly  S/Cream&Onion   175.0
4       Kettle Tortilla ChpsHny&Jlpno Chili   150.0
...                                     ...     ...
264831   Kettle Sweet Chilli And Sour Cream   175.0
264832             Tostitos Splash Of  Lime   175.0
264833                     Doritos Mexicana   170.0
264834   Doritos Corn Chip Mexican Jalapeno   150.0
264835             Tostitos Splash Of  Lime   175.0

[264836 rows x 2 columns]

In [101]:
pd.DataFrame({'name': clean_names, 'weight' : weights}).isnull().sum()

name      0
weight    0
dtype: int64

Since there are no missing values, there's no need to store the weights as float. I will convert to integer

In [102]:
weights = weights.astype(int)

### Add the `clean_names` and `weight` to dataset

In [103]:
data2.product_name = clean_names
data2['product_weight'] = weights

In [104]:
data2.sample(15)

,date,store_num,loyalty_card_num,txn_id,product_number,product_name,product_quantity,total_sales,product_price,product_weight
68262,2018-12-03,242,242147,246205,32,Kettle Sea Salt And Vinegar,2,10.8,5.4,175
145457,2018-09-01,181,181132,183120,63,Kettle Swt Pot Sea Salt,2,8.4,4.2,135
136688,2019-06-20,19,19005,15800,44,Thins Chips Light& Tangy,2,6.6,3.3,175
169451,2018-09-01,237,237323,241576,17,Kettle Sensations BBQ&Maple,2,9.2,4.6,150
31542,2019-03-15,190,190045,190521,62,Pringles Mystery Flavour,2,7.4,3.7,134
241890,2018-07-27,45,45143,41230,8,Smiths Crinkle Cut Chips Original,2,5.8,2.9,170
197979,2019-03-24,180,180139,181908,62,Pringles Mystery Flavour,2,7.4,3.7,134
165442,2019-01-22,191,191241,193183,50,Tostitos Lightly Salted,2,8.8,4.4,175
123311,2019-03-23,83,83184,83151,50,Tostitos Lightly Salted,2,8.8,4.4,175
207132,2019-02-20,67,67110,64476,48,Red Rock Deli Sp Salt & Truffle,2,5.4,2.7,150
50864,2018-09-25,213,213227,213391,2,Cobs Popd Sour Crm &Chives Chips,2,7.6,3.8,110
248883,2019-04-19,140,140293,142182,20,Doritos Cheese Supreme,1,5.7,5.7,330
151657,2018-11-18,6,6236,6028,32,Kettle Sea Salt And Vinegar,2,10.8,5.4,175
55985,2019-05-23,7,7091,6659,30,Doritos Corn Chips Cheese Supreme,1,4.4,4.4,170
53916,2019-02-19,250,250362,252943,9,Kettle Tortilla ChpsBtroot&Ricotta,2,9.2,4.6,150

## Clean `product_name`

In [105]:
names = data2.product_name

In [106]:
names.sample(20)

100236       Snbts Whlgrn Crisps Cheddr&Mstrd
102123                       CCs Tasty Cheese
29025                Tostitos Splash Of  Lime
39858               Cobs Popd Sea Salt  Chips
197892                     RRD Salt & Vinegar
29561               Thins Chips Light&  Tangy
120877            Dorito Corn Chp     Supreme
155332    Smiths Crinkle Chips Salt & Vinegar
121119              Cobs Popd Sea Salt  Chips
49372        Snbts Whlgrn Crisps Cheddr&Mstrd
116778      Infzns Crn Crnchers Tangy Gcamole
101682     Tyrrells Crisps     Lightly Salted
169765              WW Original Stacked Chips
78827       Infzns Crn Crnchers Tangy Gcamole
177047       Red Rock Deli Chikn&Garlic Aioli
73277       Infzns Crn Crnchers Tangy Gcamole
206322    Kettle Sensations   Camembert & Fig
29190                     Pringles Slt Vingar
129665                        Cheezels Cheese
12884             Doritos Cheese      Supreme
Name: product_name, dtype: object

Make some replacements in the names to expand some abbreviations of ingredients

In [107]:
def replace_abbreviations(name):
    abbreviations = {'Chps' : 'Chips', 'Chp' : 'Chip', 'Hny' : 'Honey', 'Jlpno' : 'Jalapeno', 'Vinegr' : 'Vinegar', 'Tmato' : 'Tomato', 'Hrb&Spce' : 'Herbs & Spices', 'FriedChicken' : 'Fried Chicken',
                    'Frch/Onin' : 'French Onion'}
    for i in abbreviations.keys():
        if i in name:
            name = name.replace(i, abbreviations[i])
    return name

Function to remove whitespaces

In [108]:
def remove_whitespaces(string):
    string = string.split()
    string = ' '.join(string)
    return string

Function to replace ampersand characters without whitespaces

In [109]:
def replace_ampersand(name):
    if '&' in name:
        pos = name.find('&')
        # ampersand is surrounded by words without whitspace
        # no space on the left
        if name[pos-1] != ' ':
            name = name.replace('&', ' &')
        # no space on the right
        pos = name.find('&')
        if name[pos+1] != ' ':
            name = name.replace('&', '& ')
    return name

Apply all functions to name values

In [110]:
names = names.apply(remove_whitespaces)
names = names.apply(replace_abbreviations)
names = names.apply(replace_ampersand)

Check the results and save to `data2`

In [111]:
names.sample(20)

233397                                Cheezels Cheese
184722                       Grain Waves Sweet Chilli
243430             Kettle Tortilla ChipsFeta & Garlic
207898                  Tyrrells Crisps Ched & Chives
109515    Kettle Tortilla ChipsHoney & Jalapeno Chili
142776              Smiths Crinkle Cut Chips Original
256848                          Woolworths Mild Salsa
185125                  Tyrrells Crisps Ched & Chives
217479                          RRD Honey Soy Chicken
185623                    Doritos Corn Chips Original
161237                         Doritos Cheese Supreme
231992                           RRD Chilli & Coconut
213382                Smiths Crinkle Cut Snag & Sauce
255136                 Thins Potato Chips Hot & Spicy
201372                       Tostitos Smoked Chipotle
61899               Old El Paso Salsa Dip Tomato Mild
48599                               RRD Lime & Pepper
45796                 Red Rock Deli Sp Salt & Truffle
117762             Smiths Crinkle Cut French OnionDip
144643                  Tyrrells Crisps Ched & Chives
Name: product_name, dtype: object

In [112]:
data2.product_name = names

In [113]:
data2.sample(10)

,date,store_num,loyalty_card_num,txn_id,product_number,product_name,product_quantity,total_sales,product_price,product_weight
173153,2018-08-29,19,19080,16068,87,Infuzions BBQ Rib Prawn Crackers,1,3.8,3.8,110
128067,2019-03-24,156,156194,157929,55,Snbts Whlgrn Crisps Cheddr & Mstrd,2,3.4,1.7,90
238207,2019-05-20,173,173012,174309,32,Kettle Sea Salt And Vinegar,1,5.4,5.4,175
223649,2019-02-12,154,154107,153895,90,Tostitos Smoked Chipotle,2,8.8,4.4,175
186111,2019-02-19,10,10231,10393,111,Smiths Chip Thinly Cut Original,2,6.0,3.0,175
240125,2019-03-19,22,22034,18173,112,Tyrrells Crisps Ched & Chives,2,8.4,4.2,165
153406,2019-01-15,33,33016,29531,8,Smiths Crinkle Cut Chips Original,2,5.8,2.9,170
78931,2018-07-31,227,227003,228299,111,Smiths Chip Thinly Cut Original,2,6.0,3.0,175
261585,2018-12-23,126,126033,129875,20,Doritos Cheese Supreme,2,11.4,5.7,330
126023,2018-12-31,122,122227,125976,76,Woolworths Medium Salsa,2,3.0,1.5,300

## Merge datasets

After the cleaning, everything looks fine in the `transaction_data2` data2set. I will merge both transaction and purchase behaviour datasets. Both datasets have the `loyalty_card_num` in common, so this will be the join criterium to merge them.

In [114]:
dataset = pd.merge(data1, data2, on='loyalty_card_num')

Reorder columns in a more convenient way

In [115]:
dataset.head()

,loyalty_card_num,lifestage,premium_customer,date,store_num,txn_id,product_number,product_name,product_quantity,total_sales,product_price,product_weight
0,1000,young singles / couples,premium,2018-10-17,1,1,5,Natural Chip Compny SeaSalt,2,6.0,3.0,175
1,1002,young singles / couples,mainstream,2018-09-16,1,2,58,Red Rock Deli Chikn & Garlic Aioli,1,2.7,2.7,150
2,1003,young families,budget,2019-03-07,1,3,52,Grain Waves Sour Cream & Chives,1,3.6,3.6,210
3,1003,young families,budget,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn,1,3.0,3.0,175
4,1004,older singles / couples,mainstream,2018-11-02,1,5,96,WW Original Stacked Chips,1,1.9,1.9,160

In [118]:
new_order = 'loyalty_card_num premium_customer lifestage date store_num txn_id product_number product_name product_weight product_price product_quantity total_sales'.split(' ')

In [119]:
dataset.reindex(columns = new_order)

,loyalty_card_num,premium_customer,lifestage,date,store_num,txn_id,product_number,product_name,product_weight,product_price,product_quantity,total_sales
0,1000,premium,young singles / couples,2018-10-17,1,1,5,Natural Chip Compny SeaSalt,175,3.0,2,6.0
1,1002,mainstream,young singles / couples,2018-09-16,1,2,58,Red Rock Deli Chikn & Garlic Aioli,150,2.7,1,2.7
2,1003,budget,young families,2019-03-07,1,3,52,Grain Waves Sour Cream & Chives,210,3.6,1,3.6
3,1003,budget,young families,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn,175,3.0,1,3.0
4,1004,mainstream,older singles / couples,2018-11-02,1,5,96,WW Original Stacked Chips,160,1.9,1,1.9
...,...,...,...,...,...,...,...,...,...,...,...,...
264831,2370701,mainstream,young families,2018-12-08,88,240378,24,Grain Waves Sweet Chilli,210,3.6,2,7.2
264832,2370751,premium,young families,2018-10-01,88,240394,60,Kettle Tortilla ChipsFeta & Garlic,150,4.6,2,9.2
264833,2370961,budget,older families,2018-10-24,88,240480,70,Tyrrells Crisps Lightly Salted,165,4.2,2,8.4
264834,2370961,budget,older families,2018-10-27,88,240481,65,Old El Paso Salsa Dip Chnky Tom Ht,300,5.1,2,10.2
264835,2373711,mainstream,young singles / couples,2018-12-14,88,241815,16,Smiths Crinkle Chips Salt & Vinegar,330,5.7,2,11.4

Last check of missing values

In [122]:
(~ dataset.isnull().sum()).all()

True

There are no missing values in any of the columns

## Final export

Save the clean and merged dataset

In [123]:
dataset.to_csv('data/clean_merged_dataset.csv', index=False)